body {
  background-color: #000;
  /* color: #fff; */
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  background-color: #fff;
  width: 400px;
  border-radius: 16px;
}

.row{
  display: flex;
}
